{% extends 'layouts/base.html' %}


{% block content %}
<ul class="mt-4">
  {% for a in questions %}
  <li>
    <h3>{{ a.question_text}} - {{a.pub_date | timesince }} trước</h3>
  </li>
  <ul class="list-unstyled">

    {% for b in a.questions.all %}
    <li><input type="radio" name="imgsel" value="{{ b.id}}"> {{ b.choice_text}}</li>

    {% endfor %}
    <li class="mt-2"><button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
        data-target="#id-{{a.id}}">Thêm câu trả lời</button></li>


    <div class="modal fade" id="id-{{a.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm Choice</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="post" action="/choice/{{a.id}}/">
          <div class="modal-body">
           
              <div class="form-group">
                {% csrf_token %}
                {{formChoice.choice_text}}
              </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </ul>
  {% endfor %}
</ul>
<form action="/questions/" method="POST">{% csrf_token %}{{form}} <button type="submit"
    class="btn btn-primary" name='addQuestion' value="addQuestion">Submit</button></form>
{% endblock content %}
  
